/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-image: url(../img/background.jpg);
  background-position: fixed;
  margin-left: 10rem;
  margin-right: 10rem;
  
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  background-position: fixed;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header ul li a{
  text-decoration: none;
  list-style: none;
  color: white;
  margin-left: 2rem;
}

.header-title {
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  background-color: #000;
  color: #eee;
  margin-bottom: 0;
}

.footer-contacto {
  display: flex;
  margin-left: 2rem;
}

.info-contacto {
  display: flex;
  flex-direction: column;
}

.footer-contacto nav{
  display: flex;
  flex-direction: column;
}

.info-contacto ul li{
  list-style: none;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
}

.footer-copy p {
  margin-left: 2rem;
}

.footer-copy ul {
  display: flex;
  margin-right: 2rem;
}

.footer-copy ul li {
  list-style: none;
}

.footer-copy ul li a{
  color: #eee;
  margin-left: 2rem;
  text-decoration: none;
}

hr {
  color: #eee;
  opacity: .2;
}

h2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

main {
  background-color: #fff;
  display: flex;
  flex-basis: 75%;
}

.mangas {
  display: flex;
  align-items: center;
  margin: 0 0 0 5rem;

}

.mangas img {
  height: 30rem;
  object-fit: cover;
}
.masvendidos {
  display: flex;
  flex-direction: column;
}

.masvendidos img {
  width: 5rem;
  height: 7rem;
  object-fit: cover;
}

.masvendidos ul {
  list-style: none;
  padding: 0;
}

.masvendidos ul li span{
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.masvendidos ul li {
  display: flex;
  flex-direction: row;
}

.blog {
  background-color: #fff;
}

.blog h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

.blog-contenido {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  background-color: lightcyan;
  border-radius: .9rem;
  height: 40rem;
  
}

.blog-contenido img {
  width: 20%;
}

.blog-info {
  margin: 0 5rem 0 5rem;
}
